body {
    background-color:cornsilk;
    margin: 5%;
    font-family:'Courier New', Courier, monospace;
}

/*#content {
    width: 80%;
    margin: auto;
}*/

p {
    width: 90%;
}

table {
    width: 90%;
    border-collapse: separate;
    border-spacing: 50px 0;
}


/* input */
#book_review {
    width: 50%;
    height: 100px;
}