body {
    background-color:cornsilk;
    margin: 5%;
    font-family:'Courier New', Courier, monospace;
}

/*#content {
    width: 80%;
    margin: auto;
}*/


#book_review {
    width: 50%;
    height: 100px;
}